@import "post-images";

@tileVerticalMargin: 16px;
.shadow {
    border: 1px solid rgba(254, 254, 254, 1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

body {
    background-color: rgba(238, 238, 238, 1);
}
header {
    .shadow;
    max-height: 256px;
    background-image: url(../img/metro-header.png);
    margin-bottom: @tileVerticalMargin;
}
nav {
    float: left;
    width: 100%;
    border-radius: 0 !important;
}
footer {
    margin-bottom: 8px;
}
footer > div {
    border-radius: 8px;
    background-color: #e8e8e8;
    background-image: url(../img/noise.jpg);
    background-blend-mode: multiply;
    box-shadow: inset 0px 0px 16px -8px;
    padding: 8px;
    color: grey;
    font-style: italic;
}
.site-logo {
    .shadow;
    background-color: white;
    border-radius: 256px;
    margin: 8px 8px 8px 0;
    padding: 8px;
}
.tile-container {
    overflow: hidden;
}
.tile {
    .shadow;
    border-radius: 2px;
    margin: 0 0 @tileVerticalMargin 0;
    background-color: white;
    padding: 8px;
}
.tile-overlay {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    position: absolute;
    margin: 0 0 @tileVerticalMargin 0;
    transition: top 0.25s;
    pointer-events: none;
    color: white;
}
